<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN1akNDQWFLZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTBNVEF4TnpFME5ESXcKTjFvWERUTTBN
	VEF4TlRFME5ESXdOMW93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUtSWHgrOG40a1h4R29FeStjcFVmVnVmcDZmN2tRVFZkVUN4OU0vb2Ji
	d1NTT1l2a3hVdFVJak16UlZVCk1ZNllsRWsxLzZhN2xoNzlHRlA1Z3V6U3RTbnRvVHJm
	TlJ1V056cThXaW4vK2huS1dtVkxIcmh2dys1bmNOdjMKTUpoS25CZEsvVUg4TzhvOG1U
	VFFVSjBXVXZwT1lqOVZTaFJCYzJ6RnZLdnhUQmVnNVZTQUI0aFhqdHBXVVZPWgpaOVla
	bW5qSk1oc2xPUzZFZnlBd1FJN0pGR0oxcFNLTnpmOVUwcElzT0tIZXh6RTZ5UkdHaWVJ
	dDRGUTc5bDFjCjlSRXIzYzBQdjhFYzA5VFZYTjQwMkdwWDJqTTVNWW55RXF6amNRYTJh
	akJ0NVB0TXVnR3ljMkllQUwwVHkyRHYKZVFvRUJsQzY0bzc1eENkTHEvcldnUzNtZGZV
	Q0F3RUFBYU0vTUQwd0RBWURWUjBUQVFIL0JBSXdBREFkQmdOVgpIUTRFRmdRVVZNNWtY
	cUFrWXFuR2JJVXV0NVRCVFIxb0F5MHdEZ1lEVlIwUEFRSC9CQVFEQWdXZ01BMEdDU3FH
	ClNJYjNEUUVCQlFVQUE0SUJBUUF4MXdYcUhTK0ZOTXk3eW9mblVGMEdDNXpwM2l5cWhW
	dS9sOS9YQnpsV0c0K1YKYWtCbk5BWm5NVWxwM2pvd25LZzZzRW5yb1hRNnVmamhJbXpR
	QnNLOTFaWGhya0dKNUFDSDE5bzVhSzgxbWpMdQpwV3pXQW41R0h2MEFKZ0gyVTBZcCtY
	dE9XNzZ1RitFVEhGbUQvRDhKb2FLSzVncGFYYllUZEwxZFZUZFlWaWVPClZ0OENRaWxM
	dFBpU0FVYzZjbjFtZGpjc2tKQTJTRzZSbC8xQjF6WitMeUZvMGpkSzBDNW1JdmVBRmNv
	aW5RU2QKbGVubzBKYzBQMEExOURlVHVMZ2ZtaGhVT1ZvU3pENDdDVnFyRjFzUjdONXlL
	d3k3d1BqYkNQUHkxbWxyN1RZcQpLNGIvUHFScmpZYWhaT3ExVDJ0L1lQVGpWeGFGeGE2
	Qk5icGpKN0JCCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
	</data>
	<key>HostPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2UUlCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktjd2dnU2pBZ0VBQW9JQkFRQ3Uxd3ZwbWFqU1liUXkKYmgwZUlhN3lp
	NHVxRHNKWmRjdXh1ODYxMWhKRFNPSGc1ZldYYldhNC9uOHZBeVdHbVl5MDg1WHNEbm9i
	Tlc1RQovSVlSSVFPazc1bzBlR0dXMUk5NWRBS2o2MUxBemJCeW53aUdrZklBN2FOZWFI
	Qncza1NJMVJ6WTZPZFMyM2U5CnpFWkRkZjZreHhVbzZZalFNSitqZkk4STdKZENva1Ey
	UnljSUxUeFNGQzg5ZnNEWWF0MzRkbXBnMXRKQWNwV20KRU5pS00vb0ZkM1pkUzZ1aDNS
	ZWVpM2NNWWtRZmNPTVZDY0VrT2hqSEVpVUdnbW1pWk82cjQ3Wm9HbTB2QStnZQoyOUFh
	dFBUUThhaUs4WUk2QmRlbmp5Y1c4Z29mZmdPR0pQRWcvaUl1WWlvalNFK1phNDRLTTVI
	ZjBmbVVNN3FPCjhiSXVrQXMvQWdNQkFBRUNnZ0VBVzF5WUp2dGFrb1RucXFxTG9LRXRV
	Q1RIV0pmWnl2R1kvVWtNWFV4OXdwY2wKSVdaSkRWWG5wYWVuUWlPOHlqY1dwYi9iaWJ5
	TzVnVG5tRGowdmFLb3l0bEJsVVdLaVV5TnBJT1FsYU4wWExlZgpDbVk4Q0VYZlZjalg0
	NDlqb2pjalRQVS8yOERva0EySzVxMEYwbDZvTCthd0VlN214Uk9EZCtTd3daTVAvNHI2
	Ck5RS05oT3FHcnZFeFNYdU4xVitlSHBPMVFIOVA4WFhMUGN5Zk5yOUdFcldKTXRySVhU
	aGZReVhFY000dVJ6ZHcKb0pCdU90VTAra25zWGczRkRtcGtQYWdEVW9RbjFFeE1MYVJI
	MUJWMmoyZ2xJbndhUDF5L2NaZ3hsYStEOTVzVgpsMDNLeG9RcEN0dWR5ZTRlWWlLWWxQ
	TzhENXM0L0xrWVM2TXVrMGFSZ1FLQmdRRFpobmdWV1M3OEI5WmxPbmVsCjlvTngvR3gz
	cENMa25MRW5yZlZsbWhRcUNoLzhtZy91UDhSTUdBQklaeDdtU3M2R1dndW4wdjdGUzR6
	dG1BM0kKQWdlWlBhUHYzQ25sV3lQVWhjQk9xVzh2Z2NvYlkxZUdEa1BWVmtLM1ZDTzJT
	Nk9KOU8wSXpDZGF6TmRuc0JMLwpaUVNGVlFsM2l5VU93bXJIN1g4SzVha2xId0tCZ1FE
	Tnc4ck4zeEw1eVdYSHgzVkVPcUFRN3dEUWl4OU04YjE2Ck02dndmNDZpcm5RVHNRMnls
	cnVMVU94R1dsN2x4RFNnS0dpU1RiRlJiRThQZEI3dzNRMnI5dlM3SHRHVWhIRUkKMVlV
	RUx1V2VTQkFIcTZxVEpZZnJkSm1MRDg3ODVXWEtnZGE2UzhsdVl4dGZWS0tHaEwxdHNC
	QmRmbmZIT08zTApJL2lRbWVrMTRRS0JnUUNaWWh4aTBWUTBHMEt1ZHAvUHd4ZkUxSDJY
	ajRHYk9uSWd6S1Z4VTBoTXJIOEptNGtJCk1xYTBFV2lCcFZWQWhoZEMzVlBDcnlFKzla
	c1dIbFg1WnBUOUZWMzMwSU1xV3kzVXVjdDByRHplZnVLSWxYQXQKOHZrYUFZMWh3RTYr
	U0crMDQ2UVF4QVFzSHF6MVRFN1pEOTQwTmxaS21TODBUUnNHaHcxQ0hkYzdlUUtCZ0RH
	eQpxWWdoNmY1azAyMTJVbStCVFducG9DTytobmZhSjI2ZGpsalBKazlLbllTb0Rldmxs
	alNtL2ZwY0YzR2RleXgzCnRoSW9LN3pEMFRDbFZsZk12R0dkaXl5cTIrbm9Oemp3QVdt
	cVBoR0Z6RUZlQ0J2MFE2anVCNnZiekoydWRuQjcKL2JZUFdmNk1kMjhHRFI4NmJscFEz
	Uk1IMmJ4SGxyK3ExMzF0ZnpOaEFvR0FITlEwWUx6ZFFlNlVwVk91K3F0VwpQeUtmU1Zh
	YXpIekJBNUMxTnNFcHBZckszRjRCYTNtcDFsZzBFRTN4L0pZZ1k3c3RDbHVnNG1yYmt2
	UnI3OXhIClp2bGk0eGlxcWQwKzJyTHNhakZpTEo1c0lGTkpWQk1XZmtBcjRHanJDSzZp
	SzRRWndFRitWOFNhVGovWXo4NSsKTDYybWxydTFkUlVaM01uWEkxOWxSd1U9Ci0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>HostCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNtekNDQVlPZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTBNVEF4TnpFME5ESXcKTjFvWERUTTBN
	VEF4TlRFME5ESXdOMW93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUs3WEMrbVpxTkpodERKdUhSNGhydktMaTZvT3dsbDF5N0c3enJYV0Vr
	Tkk0ZURsOVpkdFpyaitmeThECkpZYVpqTFR6bGV3T2VoczFia1Q4aGhFaEE2VHZtalI0
	WVpiVWozbDBBcVByVXNETnNIS2ZDSWFSOGdEdG8xNW8KY0hEZVJJalZITmpvNTFMYmQ3
	M01Sa04xL3FUSEZTanBpTkF3bjZOOGp3anNsMEtpUkRaSEp3Z3RQRklVTHoxKwp3Tmhx
	M2ZoMmFtRFcwa0J5bGFZUTJJb3orZ1YzZGwxTHE2SGRGNTZMZHd4aVJCOXc0eFVKd1NR
	NkdNY1NKUWFDCmFhSms3cXZqdG1nYWJTOEQ2QjdiMEJxMDlORHhxSXJ4Z2pvRjE2ZVBK
	eGJ5Q2g5K0E0WWs4U0QrSWk1aUtpTkkKVDVscmpnb3prZC9SK1pRenVvN3hzaTZRQ3o4
	Q0F3RUFBYU1nTUI0d0RBWURWUjBUQVFIL0JBSXdBREFPQmdOVgpIUThCQWY4RUJBTUNC
	YUF3RFFZSktvWklodmNOQVFFRkJRQURnZ0VCQUdrdFhhd3F3cnN6bUpIR0ZVRU10U04w
	CllRNWlEMEFBZUd3Nm13L29LTWRSUVFhSThtd1lkelRnbjNQT1FIcVlaME9zYmxYbENH
	bFp3RGRGcDlPbFVQZUUKNmluR3paTHRiSWV1WkZ3VG0rUjlENy9zUFB1ci8rMWx5RTRE
	alJvazVlc2lPTVJpb3hYZ0dVT2RJRTAxR1c4UApEN0JZcUtXZG5MNUZ0eHFJTXVsVlNs
	REJKdGZzVkRpMk5rZ3ljcExlbi9HcnZYS2E1RzFZQytlSWpDYi80ZEErCitOcG9tN2o0
	NE5kYkV3RTI0Um5kSDhTV3dtdWtPVTVVVThCQWZySlVzMFpieUZ0bWVWQVlnRlhkQ1do
	eGxWZXMKS1BzaGRWQldXQzlUclNzOHZJY0h6bmhrNXE1Nm9kTnJMZGJEYzUxTU90cXZl
	ZlVBU3gvODZGUDN1dmU2ZUJjPQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
	</data>
	<key>RootPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2UUlCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktjd2dnU2pBZ0VBQW9JQkFRRE1kbGRuUWROWFAwa2MKSzN3ZG9yZkZl
	QjRkN3EwL3pIN3ZnNFVQUEkyTVcvd056bzQyRjZMQkdqeExxWm5FWG9NYUxKVXBYV0Vh
	SDNhVQpaNHE5TGY5TnRvNGRjQjI2bnRabzlOaTZiSnQ3UUkyVjZxdGd6QnN2Nlg4aGZX
	aC9KeEJMYll3TmVQN1JZdlhQClJCUHVoNUhiTGd4Tk1NZ1R2Qzhza09SWCtXQ0Qrd3ZT
	ZUdZWHJRYlVZY0xvcm8xbGcyT2hJNWYyRlpZVTEzREgKNlVFNWhCc1UvWU51QnZUc2N2
	c2VkdFk1TG1ScHB4bDdDS3lLVk9PMDN4L0pZeDUyak5JVnBWZGRCdDdvUThpUQo1MWVY
	eGx2MGhhWUxVQTA3SDJpTmtLbkJ1d2l0ZUN5TjMxN05XN2MvWjFDQmMxVHRob0wzcncv
	Q3ZBREVRN0JQCk84OWdFcWh2QWdNQkFBRUNnZ0VBWXEzaTlUVHgyVFAwQnlKOW5wZi85
	ZEJKU016KzFNSFBxYTFpTkw1VzJwMHkKZ3o5anAzdTAwMW5rSytoSkRGdEpEd0xoWXJ0
	c3QvempjRENnNXpraDlOSGN1Ung1WEs1NGNPTnJEbDZJayszTgo1OE1BdjVFQ3RoY05n
	bzVTTnJ3Vnd6RzEzSEsvR1RPWHkxYmgvOGR5ZjhRenI3V1JldVRpSjdJdVlyODY4N2ND
	CkN0QmNla3VBMGZoMFBtZ2xaYThqWjJLM3VmWkR0UXkxNGQ4bWJRdWNWWWFObjI2akt2
	ejNESDk4YVlDbDhZbHUKR1hQS3E4dm5IYVBNd0hJdDZsK1R3ZlRmWWQ1K3UyYlJHYjFy
	eG42YkdqUXZFa1BQSlI3cG5SNFI4MytaQk12dwpHQTFTSDN2YW1kRlN5VldBYnJGNjR6
	Y25qWlVjVmV3TmFENWZ3RUM4OFFLQmdRRC9YOU5NSlRtSExSa0hmQzhhCk9Gajd5SzU1
	QzdtNnQ5Q0RHQVB3R2FxZ0llU1RzVUhaMGorSzl0eUVyM1Fvb1IvcnZTZTNTTDZnSThv
	Y0JvcTQKMmVqLytkL2hRMHVMRnp5YWdPWEw5SXI4RTBydW5aelhDK0E3QmNWSzVPemwr
	MU9ZcVlQMXo3TzlPVzBrVHl5SgpXZXVSdUdFV25GQUpQRmF6aWZQTG5jSTZaUUtCZ1FE
	TTlwVk85R2p6cDZtTHVyNVNpMk1GQUtJUVFyVmJ2OVNECm01Ny9XR1FZa2kxOElQZGsv
	L0c3N21CNWNwSTlVZEVDNHh3dmxQWmdQT2JEeVpaNjJFOVd2L2dFNmZLL1ZSNXoKK0dy
	SU9oTzRJQ3U3cW5uSXpPU2pHUHJLVVFBVnZqSFB4TGRGVnhjbVA5U3RvOHQzbEc1Mm85
	dmhRSHBMRUlhcwpldHJBV2NIZ1F3S0JnUUNzYURCSnh4UFltK3k2N2U4SzM2SExrb2Vm
	OXZlVUJFY0VTakZXWnEyWDRHbm1BQlM2CkRzU1JkK29XdGpGUXdMN0JNM25kdG9IanNX
	WGdsOVlOeUNnU3NNcWgxUUhxVEd6QXptYlYxQ29FMXEyTy9OK0gKRzJCdDJJNkM2cHk1
	QTMxRG9xWVJUUUZHcmI5dWRQbFhYVnE1aldZV2tyOUNEUGRuektuSC9LREZOUUtCZ0VC
	NwpTeG5kMXE3aERud0JNaU14NnVNR0FmWnZwakxKTlFoNml4ajJLL2QyOVl4WnFydEJz
	a0ZYaTA1cDl3d0hrMlAvCkl6enM5bDNzaXdVSmhLZjlLV2kzV0VYamZCVXBxRHovNkVn
	NXpUNWVFS1FueTh5YWVVdStiaGY4UjdTUGM0aFQKOFB5Rm02alM2QXdBdmVCTytEbW03
	MlA4THYweW84dmJrcnAxQW9PVkFvR0FJcmZWbytZcnBxUzR0MHVkNEZITQo1bkp5YXpu
	bGpPRG1pYlE5V0craVVsZlNIWE90N2NnNnBzMy9udERaOTJTUjdEbG9mZU9TbTcxQnho
	NzUwL2thClVodUF6dXEzaFJwZDQwV25OakVVZjA0TlBNbDdMNFRpcnc5T01xV0hjTmVh
	dTRnd3RJT3htVmFNNGM1bDF2dEoKQWpacW5MWG5vUHQ2TlpEcXBxc2s2d1U9Ci0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>RootCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNqakNDQVhhZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTBNVEF4TnpFME5ESXcKTjFvWERUTTBN
	VEF4TlRFME5ESXdOMW93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQU14MlYyZEIwMWMvU1J3cmZCMml0OFY0SGgzdXJUL01mdStEaFE4OGpZ
	eGIvQTNPampZWG9zRWFQRXVwCm1jUmVneG9zbFNsZFlSb2ZkcFJuaXIwdC8wMjJqaDF3
	SGJxZTFtajAyTHBzbTN0QWpaWHFxMkRNR3kvcGZ5RjkKYUg4bkVFdHRqQTE0L3RGaTlj
	OUVFKzZIa2RzdURFMHd5Qk84THl5UTVGZjVZSVA3QzlKNFpoZXRCdFJod3VpdQpqV1dE
	WTZFamwvWVZsaFRYY01mcFFUbUVHeFQ5ZzI0RzlPeHkreDUyMWprdVpHbW5HWHNJcklw
	VTQ3VGZIOGxqCkhuYU0waFdsVjEwRzN1aER5SkRuVjVmR1cvU0ZwZ3RRRFRzZmFJMlFx
	Y0c3Q0sxNExJM2ZYczFidHo5blVJRnoKVk8yR2d2ZXZEOEs4QU1SRHNFODd6MkFTcUc4
	Q0F3RUFBYU1UTUJFd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBTgpCZ2txaGtpRzl3MEJB
	UVVGQUFPQ0FRRUFkVWFiRzkzTWFpU0IvbzNkWDFtK3pQOGE2eWg5NkZFWUNKQm5tdUxC
	CmZlZHpqN1YrOTQ5K05RanZOTHRCSDVFMGJQQjY4UjRwQWVRbEJyV2ZiQkNMN3RlelVR
	bmpqMEtoNUpuVzNmY2MKTzZpZUJoZGRuVzk0UlZ5ZUFoVDRic1lhR284SmtaUFl2VndM
	Rk5TSHFoei9BckI4VUx5cTVtVkhtNGl5VnFFaQpwK2E1SEthZFBiaWEybTU2T1M2bm9U
	blMwSUYxWVJpNnlja0d4RW9KNU1vVVltMFI3V1UwQWk3RHlVSmlYZ1hWCkJyR1haZVVx
	b2NGaE1Ga1FsY2RGK2xXaDIwNHM0VHN4b3JWR3Bnd2l6U0tTdTNndHhCQVNPNEF4SXgr
	WHVPaDkKSW00MGJhQzdhZjNmOXZHVUt5R045MVlxWkwvdzZoZkl1cGZ2Z3R5aHhOdEVP
	QT09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
	</data>
	<key>SystemBUID</key>
	<string>31123911-1171813586297465496</string>
	<key>HostID</key>
	<string>29CF016D-197C-048E-9102-CC2B2A8035F5</string>
	<key>EscrowBag</key>
	<data>
	fHC4tVR7Bv1/Hfb9ixBj1kIYO1ZJMHezbMEcvpXm7mk=
	</data>
	<key>WiFiMACAddress</key>
	<string>8c:26:aa:96:22:c5</string>
	<key>UDID</key>
	<string>00008101-000E38821E79A01E</string>
</dict>
</plist>
